<h1>Data Preprocessing</h1>
<li>Steps that need to be done after the data arrives in the program
<li>Data may need to be cleaned
<ul>
<li>Remove "bad" data
<li>handle "missing" data 
</ul>
<li>Make sure all data is in the correct format(s)

<h2>NYC 311 Data</h2>
<li>Service requests made to the 311 number</li>
<li>https://data.cityofnewyork.us/dataset/311-Service-Requests-From-2011/fpz8-jqf4
<li>We'll work with a small extract of the data
<ul>
<li>8 columns (out of about 58 in the full dataset)
<li>two months of data (out of 7 years of data
</ul>
<li>Even this is quite a bit!

In [1]:
datafile = "nyc_311_data_subset_small.csv"

c:\users\ethan\appdata\local\programs\python\python37\lib\site-packages\ipykernel\parentpoller.py:116: UserWarning: Parent poll failed.  If the frontend dies,
                the kernel may be left running.  Please let us know
                about your system (bitness, Python, etc.) at
                ipython-dev@scipy.org
  ipython-dev@scipy.org""")

In [2]:
import pandas as pd
import numpy as np

<h4><b>read_csv</b>: A pandas function that reads a comma separated file</h4>
read_csv will try to format the data so that it is the correct type and will report any typing problems<br>
It will also look for a header row. 
<br>http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html
<p>
read_csv returns a pandas DataFrame

In [4]:
df = pd.read_csv(datafile)
df.head()

c:\users\ethan\appdata\local\programs\python\python37\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unique Key,Created Date,Closed Date,Agency,Incident Zip,Borough,Latitude,Longitude
0,1,10/11/2016 11:53:00 AM,10/11/2016 12:00:00 PM,DSNY,NaN,QUEENS,NaN,NaN
1,2,10/11/2016 11:36:00 AM,10/11/2016 12:00:00 PM,DSNY,NaN,QUEENS,NaN,NaN
2,3,10/11/2016 11:36:00 AM,10/11/2016 12:00:00 PM,DSNY,NaN,QUEENS,NaN,NaN
3,4,10/11/2016 12:39:00 PM,10/11/2016 12:39:00 PM,DSNY,NaN,QUEENS,NaN,NaN
4,5,10/11/2016 12:18:00 PM,10/11/2016 12:18:00 PM,DSNY,NaN,QUEENS,NaN,NaN

<h4>Let's examine our data</h4>

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 971063 entries, 0 to 971062
Data columns (total 8 columns):
Unique Key      971063 non-null int64
Created Date    971063 non-null object
Closed Date     882944 non-null object
Agency          971063 non-null object
Incident Zip    911140 non-null object
Borough         971063 non-null object
Latitude        887284 non-null float64
Longitude       887284 non-null float64
dtypes: float64(2), int64(1), object(5)
memory usage: 59.3+ MB

<h4>Looks like Unique Key really is a unique key and can serve as an index</h4>

In [6]:
df = pd.read_csv(datafile,index_col='Unique Key')

c:\users\ethan\appdata\local\programs\python\python37\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
df.iloc[:10]

,Created Date,Closed Date,Agency,Incident Zip,Borough,Latitude,Longitude
Unique Key,,,,,,,
1,10/11/2016 11:53:00 AM,10/11/2016 12:00:00 PM,DSNY,NaN,QUEENS,NaN,NaN
2,10/11/2016 11:36:00 AM,10/11/2016 12:00:00 PM,DSNY,NaN,QUEENS,NaN,NaN
3,10/11/2016 11:36:00 AM,10/11/2016 12:00:00 PM,DSNY,NaN,QUEENS,NaN,NaN
4,10/11/2016 12:39:00 PM,10/11/2016 12:39:00 PM,DSNY,NaN,QUEENS,NaN,NaN
5,10/11/2016 12:18:00 PM,10/11/2016 12:18:00 PM,DSNY,NaN,QUEENS,NaN,NaN
6,10/11/2016 11:36:00 AM,10/11/2016 12:00:00 PM,DSNY,NaN,QUEENS,NaN,NaN
7,10/11/2016 12:39:00 PM,10/11/2016 12:39:00 PM,DSNY,NaN,QUEENS,NaN,NaN
8,10/11/2016 11:44:00 AM,NaN,DSNY,NaN,QUEENS,NaN,NaN
9,10/11/2016 12:35:00 PM,10/11/2016 12:35:00 PM,DSNY,NaN,QUEENS,NaN,NaN
10,10/11/2016 11:26:00 AM,05/27/2016 12:00:00 PM,DSNY,NaN,QUEENS,NaN,NaN

<h4>Columns 4 has mixed types</h4>

<h4>Column 4 is incident zip</h4>
Let's examine it<br>
The unique() function returns unique values in a column

In [12]:
df['Incident Zip'].unique()

array([nan, '10001', '11691', '11211', '10027', '10452', '11428', '11101',
       '10075', '11215', '11210', '11231', '11217', '10457', '10033',
       '11209', '11201', '11367', '10029', '10021', '10028', '10034',
       '10032', '10039', '11414', '10461', '11229', '10462', '11223',
       '10023', '10453', '11225', '11219', '10451', '11234', '10014',
       '11354', '11361', '10468', '11233', '10466', '11204', '11413',
       '11224', '11375', '11040', '11232', '11203', '11205', '11434',
       '10011', '10003', '10025', '10013', '10036', '11237', '11355',
       '11368', '10454', '10456', '10463', '11222', '11228', '11216',
       '10128', '11435', '11419', '11358', '11421', '10019', '11238',
       '11213', '11235', '11420', '10038', '11226', '10472', '10016',
       '11221', '11236', '11436', '11214', '11377', '11385', '11365',
       '10312', '11426', '11373', '11218', '10005', '11230', '10026',
       '10473', '10280', '10301', '10309', '10310', '10009', '10002',
       '11433', '10020', '11357', '10030', '11378', '11249', '11432',
       '11212', '10024', '10035', '11429', '11206', '11372', '10471',
       '10119', '10307', '11364', '11103', '10017', '10012', '11105',
       '10458', '10018', '11374', '10459', '10314', '10037', '10302',
       '10040', '11411', '11692', '10303', '11418', '10031', '11220',
       '11427', '10465', '10306', '10010', '10460', '10305', '11207',
       '11208', '10474', '11417', '10475', '10455', '11416', '10065',
       '11363', '11693', '10308', '11356', '10469', '11369', '10470',
       '10467', '10007', '10304', '11366', '11694', '11102', '11423',
       '11422', '19044', '11412', '10022', '11379', '11251', '30374-0283',
       '11004', '11104', '10004', '11362', '11360', '11109', '07047',
       '11590', '11001', '11430', '11106', '10464', '43216', '11370',
       '10271', '11239', '11415', '10006', '10121', '10177', '11030-3409',
       '10069', '07302', '0000', '10044', '10282', '10000', '11743',
       '10178', '07114', '07410', '13851', '10169', '11697', '10168',
       '10538', '10123', '11516', '10174', '10278', '11598', '10112',
       '10605', 'UNKNOWN', '10172', '11570', '07105', '11561', '11576',
       '10162', '10281', '10151', '220194', '99999', '00083', '44087',
       '10472.0', '10039.0', '10471.0', '11372.0', '11377.0', '11354.0',
       '10453.0', '10304.0', '11235.0', '10307.0', '11361.0', '11218.0',
       '11219.0', '10302.0', '10035.0', '11233.0', '10019.0', '10037.0',
       '11385.0', '10075.0', '10040.0', '10458.0', '11223.0', '10462.0',
       '11104.0', '11420.0', '10474.0', '11229.0', '11226.0', '10456.0',
       '10468.0', '10467.0', '10002.0', '11208.0', '10460.0', '11212.0',
       '10032.0', '11204.0', '11207.0', '11214.0', '11363.0', '11422.0',
       '11434.0', '10457.0', '10028.0', '10452.0', '10009.0', '11432.0',
       '11213.0', '10465.0', '11209.0', '10033.0', '11379.0', '11216.0',
       '11249.0', '10031.0', '11418.0', '11414.0', '10034.0', '11230.0',
       '11692.0', '11210.0', '11217.0', '11201.0', '10128.0', '10010.0',
       '11215.0', '11211.0', '11375.0', '11419.0', '10469.0', '11423.0',
       '11106.0', '11220.0', '10069.0', '10306.0', '10301.0', '11369.0',
       '10027.0', '10312.0', '10309.0', '11427.0', '11691.0', '11417.0',
       '11416.0', '11234.0', '11236.0', '10455.0', '11105.0', '11228.0',
       '10029.0', '10011.0', '10007.0', '11237.0', '11231.0', '10303.0',
       '11357.0', '11415.0', '10001.0', '11203.0', '10451.0', '10314.0',
       '10021.0', '11225.0', '10463.0', '11426.0', '11206.0', '11103.0',
       '11222.0', '10461.0', '10030.0', '10470.0', '11373.0', '10466.0',
       '11412.0', '10026.0', '10308.0', '10012.0', '10025.0', '11238.0',
       '11366.0', '10459.0', '10005.0', '11364.0', '11368.0', '10473.0',
       '11232.0', '11378.0', '10305.0', '10454.0', '10282.0', '11101.0',
       '11221.0', '10014.0', '10016.0', '11356.0', '10003.0', '11429.0',
       '11413.0', '10022.0', '10013.0', '11365.0', '11367.0', '11694.0',
       '11411.0', '11433.0', '11355.0', '11421.0', '10036.0', '10065.0',
       '11224.0', '11374.0', '11358.0', '10023.0', '10475.0', '10017.0',
       '10024.0', '11370.0', '11693.0', '11362.0', '11004.0', '11205.0',
       '11102.0', '10004.0', '10038.0', '11435.0', '10006.0', '11360.0',
       '11428.0', '10018.0', '11436.0', '10464.0', '10310.0', '10044.0',
       '10280.0', '11239.0', '11001.0', '10020.0', '10112.0', '10172.0',
       '10168.0', '7114.0', '11030.0', '10278.0', '11109.0', '10000.0',
       '11697.0', '11040.0', '11725.0', '10111.0', '11005.0', '10162.0',
       '10281.0', '10169.0', '11803.0', '11430.0', '10119.0', '90274.0',
       '11520.0', '7112.0', '10041.0', '11570.0', '10167.0', '10107.0',
       '10174.0', '10120.0', '10177.0', '7073.0', '10154.0', '10165.0',
       '11550', '11701', '33134', '07628', '10532', '10703', '11371',
       '10105', '18773', '11580', '11725-9030', '10158', '07722',
       '11779.0', '10271.0', '11359.0', '10153.0', '10604.0', '10279.0',
       '29601.0', '10538.0', '30006.0', '11792.0', '11747.0', '10118.0',
       '83.0', '11566.0', '11776.0', '12344.0', '10121.0', '11550.0',
       '11576.0', '10103.0', '10801.0', '11509.0', '10701.0', '10105.0',
       '10913.0', '0.0', '11518.0', '11002.0', '10573.0', '10158.0',
       '10601.0', '11581.0', '11710.0', '42101.0', '10803.0', '10123.0',
       '11050.0', '3358.0', '8876.0', '10179.0', '12222.0', '11003',
       '10154', '10110', '10153', 'UNKOWN', '11636', '11005', '98057',
       '10801', '10550', '07310', '10115.0', '60179.0', '11003.0',
       '7093.0', '7306.0', '10170.0', '61702.0', '10804.0', '11791.0',
       '11743.0', '7013.0', '11042.0', '11371.0', '07024', '29616-0759',
       '14094', '11040-4204', '55433', '33033', '10118', '11501', '11514',
       '11021', '02241-5789', '91711', '11735', '07104', '48393-0824',
       '30353-0949', '10173', '02298', '11050', '33433', '33309',
       '10110.0', '10106.0', '10045.0', '7101.0', '07307', '10041',
       '01581', '10279', '10179', '11244', '10604', '07086', '?', '10111',
       '10165', '11530', '10573', 11433.0, 11213.0, 10037.0, 10030.0,
       10462.0, 10035.0, 10458.0, 11377.0, 11691.0, 10036.0, 10002.0,
       11355.0, 11419.0, 11209.0, 10460.0, 11226.0, 10011.0, 11233.0,
       10033.0, 10009.0, 10463.0, 10459.0, 10031.0, 10034.0, 10472.0,
       11372.0, 10025.0, 10301.0, 11357.0, 11216.0, 11230.0, 10302.0,
       10452.0, 11234.0, 10003.0, 10453.0, 10456.0, 10473.0, 11238.0,
       10027.0, 10451.0, 11218.0, 11208.0, 11220.0, 10032.0, 11366.0,
       11214.0, 11236.0, 11223.0, 10303.0, 11207.0, 11378.0, 10466.0,
       11212.0, 11219.0, 10028.0, 11201.0, 11373.0, 10023.0, 10468.0,
       11105.0, 11222.0, 10304.0, 11413.0, 10467.0, 10039.0, 11420.0,
       10457.0, 10016.0, 11414.0, 11104.0, 11221.0, 10040.0, 11435.0,
       11385.0, 10026.0, 11368.0, 11215.0, 11412.0, 11001.0, 10010.0,
       10306.0, 11101.0, 11415.0, 11375.0, 10465.0, 10024.0, 10021.0,
       11237.0, 10014.0, 11229.0, 11217.0, 10310.0, 10461.0, 10012.0,
       11356.0, 11228.0, 11205.0, 10001.0, 11210.0, 10455.0, 11411.0,
       10005.0, 11418.0, 11232.0, 10471.0, 10029.0, 10308.0, 11225.0,
       10019.0, 11422.0, 10006.0, 11224.0, 11354.0, 11249.0, 11434.0,
       10282.0, 11374.0, 10128.0, 10013.0, 11367.0, 10065.0, 11231.0,
       11211.0, 11432.0, 11692.0, 11235.0, 11204.0, 11361.0, 10017.0,
       11103.0, 10020.0, 10312.0, 11365.0, 10018.0, 11206.0, 11416.0,
       10305.0, 11370.0, 11203.0, 11379.0, 11369.0, 10469.0, 10314.0,
       10075.0, 11436.0, 11429.0, 10022.0, 11428.0, 10470.0, 10474.0,
       11358.0, 11102.0, 11427.0, 10454.0, 10309.0, 11421.0, 11423.0,
       11106.0, 11362.0, 10307.0, 10464.0, 11360.0, 10038.0, 11426.0,
       10112.0, 11239.0, 11004.0, 11417.0, 11693.0, 11364.0, 11021.0,
       7114.0, 11694.0, 10475.0, 10007.0, 10280.0, 10069.0, 8861.0,
       10279.0, 10044.0, 8817.0, 10004.0, 11363.0, 11005.0, 11697.0,
       10281.0, 10111.0, 11040.0, 11430.0, 10118.0, 10121.0, 7302.0,
       11251.0, 10803.0, 10119.0, 10580.0, 11109.0, 11749.0, 19053.0,
       10708.0, 10165.0, 10122.0, 10176.0, 10000.0, 10178.0, 11520.0,
       10583.0, 10048.0, 10168.0, 10177.0, 83.0, 8901.0, 10110.0, 10169.0,
       7310.0, 8512.0, 97062.0, 10167.0, 11743.0, 11371.0, 80014.0,
       11722.0, 10155.0, 11554.0, 10123.0, 6870.0, 10103.0, 12222.0,
       10041.0, 10106.0, 7086.0, 1749.0, 11042.0, 11719.0, 11024.0,
       11801.0, 10162.0, 7208.0, 97114.0, 11571.0, 10278.0, 19034.0,
       11695.0, 11968.0, 11010.0, 0.0, '10707.0', '10173.0', '11251.0',
       '10155.0', '10580.0', '11241.0', '11553.0', '10176.0', '11510.0',
       '11802-9060', '11779', '11757', '19040.0', '11758.0', '11746.0',
       '30346.0', '11590.0', '7410.0', '10550.0', '11695.0', '11580.0',
       '11516.0', '11575.0', '11572.0', '10178.0', '10960.0', '10710',
       '00000', '18901', '42301', '11695', '32752-9963', '10170', '10705',
       '11557.0', '3830.0', '10134.0', '11021.0', '7029.0', '10055',
       '10106', '12222', '10704', '11558', '07960', '12209', '10176',
       '07712', '10103', '11797', '11520', '10115', '10601', '14624',
       '10048', '14222', '19962', '19399', '02346', '11756-0215', '11111',
       '10155', '07608', '10530', '07103-4154', '11801', '10583', '11793',
       '10166', '10045', 'NJ 07114', '06601', '10023-6349', '10805',
       '877.0', '11701.0', '7302.0', '07660', '11563', '9153',
       '14231-9054', '11729.0', '11559.0', '11431.0', '11530.0', '07747',
       '11359', '07040', '11579', '10152', '92131', '19123', '11791',
       '90054-0807', '08876', '55486-0102', '37909.0', '11561.0',
       '10543.0', '11706.0', '7030.0', '91942', '14450', '07090', '12550',
       '12553', '10567.0', '10259.0', '11797.0', '10151.0', '11552.0',
       '92193.0', '1757.0', '10055.0', '11554.0', '10989', '11219-0283',
       '07070', '37214', '17108-0988', '43218', '02114', '10553',
       '43218-2118', '32256', '7640.0', '7087.0', 11561.0, 10154.0,
       11359.0, 11530.0, 10977.0, 10173.0, 7108.0, 10271.0, 6902.0,
       10120.0, 10153.0, 10158.0, 11590.0, 99999.0, 7030.0, 10591.0,
       8043.0, 10174.0, 105457.0, 10604.0, 7304.0, 10573.0, '10120',
       '07093', '10801-6393', '20705.0', '33128.0', '7105.0', '14228.0',
       '11582.0', '10008.0', '7310.0', '7094.0', '11577.0', '7086.0',
       '7201.0', '10122.0', '32256.0', '29615.0', '19047.0', '2062.0',
       '12205.0', '99999.0', '11704.0', '7047.0', '11242.0', '07073',
       '11797-9001', '10129', 'JFK', '01853', '7040.0', '10532.0',
       '19044.0', '10704.0', '11768.0'], dtype=object)

<h4>Some issues</h4>
<li>Sometimes zip is a float, other times it is an str
<li>Zipcodes that are represented as floats and start with 0 are missing the first digit (8817)
<li>Some zipcodes have the 4 digit extension added. Comparison becomes tough
<li>What the heck is zip 0?
<li>What about the missing (nan) values? The ? (question mark)? "UNKNOWN"?

<h2>Clean the data</h2>
<li>Decide what to do with "bad" data ("JFK", "UNKNOWN", etc.). Convert to Nan or delete the record.
<li>Make sure all data in a column is in the correct format (convert floats to strings, get rid of the 4 digit extension)
<li>Decide what to do with missing values (NaNs)

<h3>for "Incident Zip"</h3>
<li>we'll drop rows with NaN or bad data
<li>get rid of the 4 digit extension
<li>remove zips less than 10000 and greater than 12000
<li>Let's write a function that fixes zips
<li>Convert everything to str because zips are not really numbers

In [13]:
def fix_zip(input_zip):
    try:
        input_zip = int(float(input_zip)) #already integer zip
    except:
        try:
            input_zip = int(input_zip.split('-')[0]) # remove last four
        except:
            return np.NaN
    if input_zip < 10000 or input_zip > 12000: # remove out of city zips
        return np.NaN
    return str(input_zip) # use string bc no calculations on zipcode

<h4>And test it</h4>

In [17]:
fix_zip('10817.00')

'10817'

<h3>Apply the function to input zip</h3>
<li>The pandas function <span style="color:blue">apply</span> applies a function to each element in a df column

In [18]:
df['Incident Zip'] = df['Incident Zip'].apply(fix_zip)

In [23]:
df['Incident Zip'].unique()[:25] # still have NaN

array([nan, '10001', '11691', '11211', '10027', '10452', '11428', '11101',
       '10075', '11215', '11210', '11231', '11217', '10457', '10033',
       '11209', '11201', '11367', '10029', '10021', '10028', '10034',
       '10032', '10039', '11414'], dtype=object)

<h3>Drop all rows that have zip == Nan</h3>
<li>We don't have to, that's just a choice we're making</li>
<li>Alternatively, we could just give them a special code</li>
<li>Or vary the code depending on some other factor (Borough? department?)

In [24]:
df = df[df['Incident Zip'].notnull()] # masking and creating new column and then removing FALSEs

In [28]:
df.head()

,Created Date,Closed Date,Agency,Incident Zip,Borough,Latitude,Longitude
Unique Key,,,,,,,
11,09/01/2016 12:33:42 AM,09/16/2016 01:06:56 AM,DCA,10001,MANHATTAN,40.744790,-73.988834
12,09/01/2016 08:16:24 PM,09/10/2016 06:08:25 PM,HPD,11691,QUEENS,40.600554,-73.750704
13,09/01/2016 12:17:00 PM,09/07/2016 12:00:00 PM,DSNY,11211,BROOKLYN,40.704925,-73.962007
14,09/01/2016 12:10:22 PM,09/10/2016 02:23:44 PM,HPD,10027,MANHATTAN,40.812322,-73.955338
15,09/01/2016 12:32:32 PM,09/11/2016 02:03:37 AM,HPD,10452,BRONX,40.839529,-73.922534

<h3>Let's take a look at the columns again</h3>

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 910874 entries, 11 to 971063
Data columns (total 7 columns):
Created Date    910874 non-null object
Closed Date     829425 non-null object
Agency          910874 non-null object
Incident Zip    910874 non-null object
Borough         910874 non-null object
Latitude        887168 non-null float64
Longitude       887168 non-null float64
dtypes: float64(2), object(5)
memory usage: 55.6+ MB

<h3>Closed Date, Latitude and Longitude all have missing values</h3>
<h3>Let's get rid of them</h3>

In [30]:
df = df[(df['Latitude'].notnull()) & (df['Longitude'].notnull())  & (df['Closed Date'].notnull())]

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 806561 entries, 11 to 971063
Data columns (total 7 columns):
Created Date    806561 non-null object
Closed Date     806561 non-null object
Agency          806561 non-null object
Incident Zip    806561 non-null object
Borough         806561 non-null object
Latitude        806561 non-null float64
Longitude       806561 non-null float64
dtypes: float64(2), object(5)
memory usage: 49.2+ MB

<h4>Let's take a look at Borough data</h4>

In [32]:
df['Borough'].unique()

array(['MANHATTAN', 'QUEENS', 'BROOKLYN', 'BRONX', 'STATEN ISLAND',
       'Unspecified'], dtype=object)

<h4>Unspecified</h4>
<li>Could be a problem if our analysis focuses on boroughs

In [33]:
df[df['Borough']=='Unspecified'][['Agency','Incident Zip']] 
# look at agency and zip for unspecified boroughs

           Agency Incident Zip
Unique Key
28854        NYPD        10312
29525        NYPD        11368
29559        NYPD        11422
29607        NYPD        10454
48565        NYPD        11209
48572        NYPD        11226
48657        NYPD        11225
48743        NYPD        11373
48781        NYPD        10467
48940         DPR        10454
49258        NYPD        11204
49264        NYPD        10039
49299        NYPD        11369
49471        NYPD        10454
49700        NYPD        11217
49919        NYPD        11367
50081        NYPD        11217
50542        NYPD        11234
50865        NYPD        10452
51202        NYPD        11364
72977        NYPD        10014
73118        NYPD        11385
73119        NYPD        10453
73181        NYPD        11101
73241        NYPD        11203
73286        NYPD        11432
73323        NYPD        11234
73433        NYPD        10461
73434        NYPD        11210
73499        NYPD        10314
...           ...          ...
188498       NYPD        10028
188500       NYPD        11217
188505       NYPD        10040
188506       NYPD        10029
188507       NYPD        10014
188521       NYPD        11208
188536        DHS        10023
188542        TLC        10023
188543        DHS        10023
188544        TLC        11230
188545        DHS        10017
188553        DHS        10024
188558        DHS        10016
188597       NYPD        11206
188599       NYPD        11373
188627       NYPD        11417
188628       NYPD        11418
188633       NYPD        10023
188634       NYPD        10472
188636       NYPD        11236
188639       NYPD        11366
188640       NYPD        10001
188642       NYPD        11237
188647       NYPD        10312
188648       NYPD        11223
188649       NYPD        11373
188650       NYPD        10468
188651       NYPD        11218
214971       NYPD        11233
235626       NYPD        11249

[819 rows x 2 columns]

<h3>Possible fixes</h3>
<li>Map zips to boroughs using external data
<li>Map zips to boroughs using data from the data frame
<li>Delve into the data to see whether unspecified makes sense

<h4>So we get to use our groupby function</h4>

In [34]:
df[df['Borough']=='Unspecified'].groupby('Agency').count()

        Created Date  Closed Date  Incident Zip  Borough  Latitude  Longitude
Agency
3-1-1              1            1             1        1         1          1
DHS               67           67            67       67        67         67
DOE                1            1             1        1         1          1
DOF                3            3             3        3         3          3
DOT               13           13            13       13        13         13
DPR                2            2             2        2         2          2
FDNY               1            1             1        1         1          1
NYPD             725          725           725      725       725        725
TLC                6            6             6        6         6          6

<li>Unspecified appears to have a systematic bias toward NYPD
<li>Though only a small proportion of NYPD complaints (see below)
<li>We have to decide whether to keep them or lose them!

In [35]:
nypd_complaints_total = df[df['Agency']=='NYPD']['Borough'].count() # mask for NYPD incidents
nypd_unspecified = df[(df['Borough']=='Unspecified') & (df['Agency']=="NYPD")]['Borough'].count()
percentage = nypd_unspecified/nypd_complaints_total*100
print("%1.2f%%"%percentage)

0.26%

<h4>For now, we'll get rid of them. Unspecified will be hard to explain!</h4>

In [36]:
df = df[df['Borough'] != 'Unspecified']

<h2>Dealing with time</h2>
<li>Dates and times are best converted to datetime
<li>That way they will be useful for analysis because we can compute timedelta objects

<h2>Digression: The datetime library</h2>

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 805742 entries, 11 to 971063
Data columns (total 7 columns):
Created Date    805742 non-null object
Closed Date     805742 non-null object
Agency          805742 non-null object
Incident Zip    805742 non-null object
Borough         805742 non-null object
Latitude        805742 non-null float64
Longitude       805742 non-null float64
dtypes: float64(2), object(5)
memory usage: 49.2+ MB

<h4>And we get to use lambda functions!</h4>

In [38]:
import datetime
df['Created Date'] = df['Created Date'].apply(lambda x:datetime.datetime.strptime(x,'%m/%d/%Y %I:%M:%S %p'))

In [40]:
df['Created Date'][0:20]

Unique Key
11   2016-09-01 00:33:42
12   2016-09-01 20:16:24
13   2016-09-01 12:17:00
14   2016-09-01 12:10:22
15   2016-09-01 12:32:32
16   2016-09-01 20:16:24
17   2016-09-01 08:35:00
18   2016-09-01 13:19:42
19   2016-09-01 11:00:00
20   2016-09-01 11:45:00
21   2016-09-01 10:11:45
22   2016-09-01 08:22:53
23   2016-09-01 17:31:04
24   2016-09-01 08:50:41
25   2016-09-01 14:19:21
26   2016-09-01 12:46:35
27   2016-09-01 13:33:58
28   2016-09-01 13:51:10
30   2016-09-01 12:34:41
31   2016-09-01 07:03:00
Name: Created Date, dtype: datetime64[ns]

In [41]:
df['Closed Date'] = df['Closed Date'].apply(lambda x:datetime.datetime.strptime(x,'%m/%d/%Y %I:%M:%S %p'))

In [42]:
df

,Created Date,Closed Date,Agency,Incident Zip,Borough,Latitude,Longitude
Unique Key,,,,,,,
11,2016-09-01 00:33:42,2016-09-16 01:06:56,DCA,10001,MANHATTAN,40.744790,-73.988834
12,2016-09-01 20:16:24,2016-09-10 18:08:25,HPD,11691,QUEENS,40.600554,-73.750704
13,2016-09-01 12:17:00,2016-09-07 12:00:00,DSNY,11211,BROOKLYN,40.704925,-73.962007
14,2016-09-01 12:10:22,2016-09-10 14:23:44,HPD,10027,MANHATTAN,40.812322,-73.955338
15,2016-09-01 12:32:32,2016-09-11 02:03:37,HPD,10452,BRONX,40.839529,-73.922534
16,2016-09-01 20:16:24,2016-09-10 18:08:24,HPD,11691,QUEENS,40.600554,-73.750704
17,2016-09-01 08:35:00,2016-09-07 12:00:00,DSNY,11428,QUEENS,40.721866,-73.745982
18,2016-09-01 13:19:42,2016-09-16 14:32:35,DOT,11101,QUEENS,40.746875,-73.952711
19,2016-09-01 11:00:00,2016-09-08 12:00:00,DSNY,10075,MANHATTAN,40.773336,-73.955054
20,2016-09-01 11:45:00,2016-09-03 12:00:00,DSNY,11215,BROOKLYN,40.662002,-73.983668
21,2016-09-01 10:11:45,2016-09-16 11:11:38,DOT,11101,QUEENS,40.745492,-73.953174
22,2016-09-01 08:22:53,2016-09-16 07:42:02,DOT,11210,BROOKLYN,40.631530,-73.954573
23,2016-09-01 17:31:04,2016-09-16 10:10:02,DOT,11231,BROOKLYN,40.677629,-73.998190
24,2016-09-01 08:50:41,2016-09-16 11:12:47,DOT,11210,BROOKLYN,40.628450,-73.947200
25,2016-09-01 14:19:21,2016-09-16 14:11:08,DOT,11101,QUEENS,40.745866,-73.955148
26,2016-09-01 12:46:35,2016-09-16 11:53:24,DOT,11217,BROOKLYN,40.687518,-73.986320
27,2016-09-01 13:33:58,2016-09-16 12:55:18,DOT,11231,BROOKLYN,40.683742,-73.995233
28,2016-09-01 13:51:10,2016-09-11 02:05:38,HPD,10457,BRONX,40.852417,-73.899753
30,2016-09-01 12:34:41,2016-09-10 15:01:05,HPD,10033,MANHATTAN,40.846318,-73.932740
31,2016-09-01 07:03:00,2016-09-07 07:30:00,DEP,11209,BROOKLYN,40.636674,-74.036517
32,2016-09-01 12:29:29,2016-09-11 02:03:37,HPD,10452,BRONX,40.839529,-73.922534
33,2016-09-01 17:32:16,2016-09-16 07:20:23,DOT,11201,BROOKLYN,40.694792,-73.994299
34,2016-09-01 08:53:22,2016-09-16 09:03:59,DOT,11201,BROOKLYN,40.687137,-73.990174
35,2016-09-01 17:36:25,2016-09-16 09:47:33,DOT,11210,BROOKLYN,40.631101,-73.952534
36,2016-09-01 17:46:07,2016-09-16 09:49:54,DOT,11367,QUEENS,40.729686,-73.815145
37,2016-09-01 13:12:00,2016-09-02 12:00:00,DSNY,10029,MANHATTAN,40.787104,-73.945002
38,2016-09-01 09:05:00,2016-09-08 12:00:00,DSNY,10021,MANHATTAN,40.768324,-73.955137
39,2016-09-01 12:00:31,2016-09-16 11:48:36,DOT,10028,MANHATTAN,40.774136,-73.951363
40,2016-09-01 12:19:34,2016-09-16 07:20:17,DOT,10034,MANHATTAN,40.867919,-73.920454
41,2016-09-01 09:57:16,2016-09-16 09:01:46,DOT,11217,BROOKLYN,40.687773,-73.987001
...,...,...,...,...,...,...,...
971014,2016-09-20 20:01:00,2016-09-22 23:30:00,DEP,11694,QUEENS,40.578039,-73.855113
971018,2016-09-20 22:14:00,2016-09-21 11:49:00,DOT,11217,BROOKLYN,40.682149,-73.982856
971021,2016-09-18 11:07:47,2016-09-19 13:40:00,DOT,10462,BRONX,40.838781,-73.852665
971022,2016-09-20 11:02:09,2017-01-26 00:00:00,DOB,11216,BROOKLYN,40.690931,-73.945431
971023,2016-09-19 16:31:00,2016-09-19 16:31:00,DSNY,11236,BROOKLYN,40.649318,-73.904170
971025,2016-09-20 19:09:42,2016-09-20 21:29:00,NYPD,11205,BROOKLYN,40.694865,-73.979214
971031,2016-09-20 16:13:04,2016-09-21 11:00:00,DOT,10462,BRONX,40.835874,-73.848426
971032,2016-09-20 13:08:00,2016-09-28 21:55:00,DOT,10468,BRONX,40.863033,-73.909054
971034,2016-09-20 13:36:18,2016-09-20 16:14:47,NYPD,11357,QUEENS,40.789638,-73.814111
971035,2016-09-20 21:22:00,2016-09-21 10:21:00,DOT,11368,QUEENS,40.756870,-73.857055
971036,2016-09-20 12:27:00,2016-09-21 00:30:00,DOT,10461,BRONX,40.838262,-73.836541
971038,2016-09-20 13:55:00,2016-09-22 08:10:00,DEP,11217,BROOKLYN,40.677542,-73.979681
971040,2016-09-20 14:08:00,2016-09-21 14:08:00,DEP,11238,BROOKLYN,40.673232,-73.965010
971041,2016-09-20 07:51:00,2016-09-21 11:46:00,DOT,11222,BROOKLYN,40.725309,-73.957521
971043,2016-09-20 08:56:00,2016-09-20 10:20:00,DEP,11209,BROOKLYN,40.632837,-74.027230
971044,2016-09-20 06:22:00,2016-09-23 12:45:00,DEP,10029,MANHATTAN,40.787172,-73.949982
971046,2016-09-20 00:06:00,2016-09-22 22:45:00,DEP,10027,MANHATTAN,40.808013,-73.950129
971047,2016-09-20 03:05:03,2016-09-20 07:58:48,NYPD,10030,MANHATTAN,40.816358,-73.940220
971049,2016-09-20 20:42:00,2017-01-13 08:56:00,DOT,10314,STATEN ISLAND,40.611248,-74.169591
971051,2016-09-20 11:47:00,2016-09-16 11:47:00,DOT,11414,QUEENS,40.648070,-73.844823
971052,2016-09-20 18:31:14,2016-09-20 20:42:14,NYPD,11205,BROOKLYN,40.694865,-73.979214
971053,2016-09-20 19:35:12,2016-09-20 21:39:22,NYPD,11205,BROOKLYN,40.694865,-73.979214
971055,2016-09-20 10:19:24,2016-09-21 05:09:13,DHS,10025,MANHATTAN,40.796495,-73.970431
971056,2016-09-20 17:01:30,2016-09-20 21:34:44,NYPD,10024,MANHATTAN,40.788312,-73.976502
971057,2016-09-20 04:11:00,2016-09-20 11:30:00,DEP,10014,MANHATTAN,40.734051,-74.004247
971059,2016-09-20 15:02:25,2016-09-24 09:33:13,HPD,10469,BRONX,40.877527,-73.847712
971060,2016-09-20 11:36:47,2016-10-21 20:02:42,HPD,10029,MANHATTAN,40.791709,-73.937064
971061,2016-09-20 16:41:40,2016-09-24 09:41:28,HPD,10460,BRONX,40.833706,-73.895943
971062,2016-09-20 11:36:46,2016-10-21 20:02:41,HPD,10029,MANHATTAN,40.791709,-73.937064
971063,2016-09-20 13:41:33,2016-10-11 02:04:05,HPD,11432,QUEENS,40.711279,-73.788951

<h3>We can create a new column that tracks the time it takes to close a complaint</h3>

In [43]:
df['processing_time'] =  df['Closed Date'] - df['Created Date']

In [44]:
#And look at summary statistics
df['processing_time'].describe()

count                     805742
mean      5 days 00:05:11.538976
std      12 days 06:08:17.201098
min          -134 days +00:00:00
25%              0 days 02:34:46
50%       0 days 21:10:44.500000
75%       4 days 14:29:59.750000
max            148 days 13:10:54
Name: processing_time, dtype: object

In [45]:
df['Created Date'].min()

Timestamp('2016-09-01 00:00:00')

<h4>There is some odd stuff here</h4>
<li>Negative processing time?
<li>Since our data is for five months, a max of 148 days worth checking out

<h3>Let's examine the negative processing time data</h3>

In [46]:
df[df['processing_time']<datetime.timedelta(0,0,0)]

,Created Date,Closed Date,Agency,Incident Zip,Borough,Latitude,Longitude,processing_time
Unique Key,,,,,,,,
3972,2016-09-16 14:24:00,2016-09-15 14:23:00,DOT,10314,STATEN ISLAND,40.597868,-74.140537,-2 days +23:59:00
5223,2016-09-20 14:03:00,2016-09-16 14:03:00,DOT,11220,BROOKLYN,40.630682,-74.010970,-4 days +00:00:00
6084,2016-10-20 11:24:00,2016-10-19 01:24:00,DOT,11412,QUEENS,40.696186,-73.751966,-2 days +14:00:00
6085,2016-10-20 16:40:00,2016-10-19 16:39:00,DOT,10306,STATEN ISLAND,40.580343,-74.103262,-2 days +23:59:00
6086,2016-10-20 12:19:00,2016-10-19 12:18:00,DOT,11209,BROOKLYN,40.634865,-74.026381,-2 days +23:59:00
6115,2016-10-20 12:05:00,2016-10-19 02:05:00,DOT,11208,BROOKLYN,40.681095,-73.873586,-2 days +14:00:00
6396,2016-10-24 10:37:00,2016-10-21 10:37:00,DOT,11691,QUEENS,40.608713,-73.747670,-3 days +00:00:00
6682,2016-10-31 10:26:00,2016-10-28 10:26:00,DOT,11417,QUEENS,40.676871,-73.840344,-3 days +00:00:00
6694,2016-10-31 10:46:00,2016-10-27 10:46:00,DOT,11362,QUEENS,40.765202,-73.738088,-4 days +00:00:00
6819,2016-09-20 11:49:00,2016-09-16 11:49:00,DOT,11432,QUEENS,40.703220,-73.802559,-4 days +00:00:00
6820,2016-09-20 14:16:00,2016-09-16 14:16:00,DOT,11238,BROOKLYN,40.680797,-73.958397,-4 days +00:00:00
6830,2016-09-20 14:34:00,2016-09-16 14:34:00,DOT,11201,BROOKLYN,40.692277,-73.988187,-4 days +00:00:00
6836,2016-09-20 14:04:00,2016-09-16 14:00:00,DOT,11220,BROOKLYN,40.649360,-74.012833,-5 days +23:56:00
6840,2016-09-20 12:00:00,2016-09-16 12:00:00,DOT,11434,QUEENS,40.660911,-73.769906,-4 days +00:00:00
6841,2016-09-20 11:48:00,2016-09-16 11:48:00,DOT,11432,QUEENS,40.703220,-73.802559,-4 days +00:00:00
6842,2016-09-20 11:43:00,2016-09-16 11:43:00,DOT,11416,QUEENS,40.685665,-73.852531,-4 days +00:00:00
6843,2016-09-20 14:23:00,2016-09-16 14:23:00,DOT,11221,BROOKLYN,40.695352,-73.916314,-4 days +00:00:00
6845,2016-09-20 11:48:00,2016-09-16 11:48:00,DOT,11432,QUEENS,40.704671,-73.805649,-4 days +00:00:00
6866,2016-09-20 14:03:00,2016-09-16 14:03:00,DOT,11219,BROOKLYN,40.635497,-74.001956,-4 days +00:00:00
6867,2016-09-20 11:59:00,2016-09-16 11:59:00,DOT,11433,QUEENS,40.696159,-73.786607,-4 days +00:00:00
6868,2016-09-20 11:54:00,2016-09-16 11:54:00,DOT,11374,QUEENS,40.728658,-73.863260,-4 days +00:00:00
6869,2016-09-20 12:53:00,2016-09-16 12:53:00,DOT,11224,BROOKLYN,40.576982,-73.981565,-4 days +00:00:00
6877,2016-09-20 14:51:00,2016-09-19 14:50:00,DOT,11225,BROOKLYN,40.663183,-73.962449,-2 days +23:59:00
6885,2016-09-20 12:00:00,2016-09-16 12:00:00,DOT,11412,QUEENS,40.707737,-73.763191,-4 days +00:00:00
6890,2016-09-20 11:49:00,2016-09-16 11:49:00,DOT,11432,QUEENS,40.705233,-73.803573,-4 days +00:00:00
6891,2016-09-20 11:41:00,2016-09-16 11:41:00,DOT,11105,QUEENS,40.773510,-73.899912,-4 days +00:00:00
6893,2016-09-20 12:50:00,2016-09-16 12:50:00,DOT,11212,BROOKLYN,40.668709,-73.917307,-4 days +00:00:00
6895,2016-09-20 14:32:00,2016-09-16 14:32:00,DOT,11217,BROOKLYN,40.681505,-73.974228,-4 days +00:00:00
6896,2016-09-20 12:54:00,2016-09-16 12:54:00,DOT,11214,BROOKLYN,40.588321,-73.985220,-4 days +00:00:00
6899,2016-09-20 12:31:00,2016-09-17 22:40:00,DOT,10469,BRONX,40.858725,-73.833436,-3 days +10:09:00
...,...,...,...,...,...,...,...,...
957010,2016-10-17 00:00:00,2016-09-12 00:00:00,DOHMH,10025,MANHATTAN,40.798563,-73.963405,-35 days +00:00:00
957015,2016-10-17 00:00:00,2016-09-13 00:00:00,DOHMH,10037,MANHATTAN,40.808726,-73.937893,-34 days +00:00:00
957080,2016-10-17 00:00:00,2016-10-11 00:00:00,DOHMH,10461,BRONX,40.847411,-73.849288,-6 days +00:00:00
957095,2016-10-17 00:00:00,2016-10-03 00:00:00,DOHMH,10026,MANHATTAN,40.804663,-73.951919,-14 days +00:00:00
957167,2016-10-17 00:00:00,2016-10-03 00:00:00,DOHMH,11385,QUEENS,40.706613,-73.868167,-14 days +00:00:00
957189,2016-10-17 00:00:00,2016-10-05 00:00:00,DOHMH,10027,MANHATTAN,40.808263,-73.956266,-12 days +00:00:00
958744,2016-09-19 16:54:00,2016-09-17 00:26:00,DOT,10303,STATEN ISLAND,40.631594,-74.160388,-3 days +07:32:00
958745,2016-09-19 12:18:00,2016-09-17 00:15:00,DOT,10465,BRONX,40.814894,-73.803528,-3 days +11:57:00
958746,2016-09-19 12:05:00,2016-09-16 22:52:00,DOT,10460,BRONX,40.834040,-73.895271,-3 days +10:47:00
958747,2016-09-19 16:53:00,2016-09-16 22:57:00,DOT,10306,STATEN ISLAND,40.583297,-74.099911,-3 days +06:04:00
958748,2016-09-19 11:52:00,2016-09-16 11:52:00,DOT,10474,BRONX,40.810851,-73.881858,-3 days +00:00:00
958752,2016-09-20 12:01:00,2016-09-16 12:01:00,DOT,11434,QUEENS,40.679960,-73.782481,-4 days +00:00:00
958753,2016-09-20 14:12:00,2016-09-16 14:12:00,DOT,11226,BROOKLYN,40.650388,-73.958708,-4 days +00:00:00
958758,2016-09-20 11:53:00,2016-09-16 11:53:00,DOT,11694,QUEENS,40.572042,-73.857548,-4 days +00:00:00
958759,2016-09-20 14:33:00,2016-09-16 14:33:00,DOT,11201,BROOKLYN,40.691194,-73.997768,-4 days +00:00:00
958760,2016-09-20 14:31:00,2016-09-16 14:31:00,DOT,11215,BROOKLYN,40.666159,-73.995307,-4 days +00:00:00
958804,2016-09-22 12:15:00,2016-09-21 12:14:00,DOT,11233,BROOKLYN,40.682427,-73.937931,-2 days +23:59:00
958858,2016-09-26 16:23:00,2016-09-23 23:00:00,DOT,10308,STATEN ISLAND,40.545127,-74.139858,-3 days +06:37:00
958859,2016-09-26 13:31:00,2016-09-23 21:20:00,DOT,10474,BRONX,40.809629,-73.890035,-3 days +07:49:00
958860,2016-09-26 12:39:00,2016-09-23 12:39:00,DOT,11232,BROOKLYN,40.653856,-74.008167,-3 days +00:00:00
958861,2016-09-26 12:28:00,2016-09-23 12:28:00,DOT,11211,BROOKLYN,40.705900,-73.963099,-3 days +00:00:00
965521,2016-09-13 12:32:00,2016-09-09 12:32:00,DOT,11691,QUEENS,40.600204,-73.745044,-4 days +00:00:00
965781,2016-09-13 11:51:00,2016-09-08 11:51:00,DOT,11416,QUEENS,40.689714,-73.840767,-5 days +00:00:00
965843,2016-09-13 12:03:00,2016-09-08 12:03:00,DOT,11691,QUEENS,40.595140,-73.753987,-5 days +00:00:00
967705,2016-09-15 16:52:00,2016-09-14 01:20:00,DOT,10309,STATEN ISLAND,40.521280,-74.239458,-2 days +08:28:00
968181,2016-09-15 13:59:00,2016-09-14 13:58:00,DOT,10473,BRONX,40.819163,-73.879813,-2 days +23:59:00
969890,2016-09-08 12:33:00,2016-09-06 12:33:00,DOT,11219,BROOKLYN,40.641815,-73.995813,-2 days +00:00:00
970636,2016-09-12 12:24:00,2016-09-09 22:28:00,DOT,10314,STATEN ISLAND,40.598331,-74.127146,-3 days +10:04:00
971003,2016-09-20 14:19:00,2016-09-16 14:19:00,DOT,11207,BROOKLYN,40.690455,-73.911748,-4 days +00:00:00
971051,2016-09-20 11:47:00,2016-09-16 11:47:00,DOT,11414,QUEENS,40.648070,-73.844823,-4 days +00:00:00

In [47]:
df[df['processing_time']<datetime.timedelta(0,0,0)].count()

Created Date       6419
Closed Date        6419
Agency             6419
Incident Zip       6419
Borough            6419
Latitude           6419
Longitude          6419
processing_time    6419
dtype: int64

<h4>Possibilities</h4>
<li>Data entry errors
<li>Created Date and Closed Date got switched

<h3>And the large processing times as well</h3>

In [48]:
df[df['processing_time']>datetime.timedelta(148,0,0)]

,Created Date,Closed Date,Agency,Incident Zip,Borough,Latitude,Longitude,processing_time
Unique Key,,,,,,,,
155818,2016-09-01 10:49:06,2017-01-28 00:00:00,DOB,11691,QUEENS,40.597741,-73.775975,148 days 13:10:54
156523,2016-09-01 09:04:14,2017-01-27 14:12:22,DOT,11357,QUEENS,40.791344,-73.827361,148 days 05:08:08

In [49]:
df[df['processing_time']>datetime.timedelta(148,0,0)].count()

Created Date       2
Closed Date        2
Agency             2
Incident Zip       2
Borough            2
Latitude           2
Longitude          2
processing_time    2
dtype: int64

<li>Looks like the upper end makes sense but the negative times don't
<li>Though we need to explore this more, we'll get rid of negative times for now

In [50]:
df = df[df['processing_time']>=datetime.timedelta(0,0,0)]

<h2>Finally, let's write a function that incorporates all our changes</h2>

In [51]:
def read_311_data(datafile):
    import pandas as pd
    import numpy as np
    #Add the fix_zip function
    def fix_zip(input_zip):
        try:
            input_zip = int(float(input_zip))
        except:
            try:
                input_zip = int(input_zip.split('-')[0])
            except:
                return np.NaN
        if input_zip < 10000 or input_zip > 19999:
            return np.NaN
        return str(input_zip)
    
    #Read the file
    df = pd.read_csv(datafile,index_col='Unique Key')
    
    #fix the zip
    df['Incident Zip'] = df['Incident Zip'].apply(fix_zip)
    
    #drop all rows that have any nans in them (note the easier syntax!)
    
    df = df.dropna(how='any')
    
    #get rid of unspecified boroughs
    df = df[df['Borough'] != 'Unspecified']
    
    #Convert times to datetime and create a processing time column
    
    import datetime
    df['Created Date'] = df['Created Date'].apply(lambda x:datetime.datetime.strptime(x,'%m/%d/%Y %I:%M:%S %p'))
    df['Closed Date'] = df['Closed Date'].apply(lambda x:datetime.datetime.strptime(x,'%m/%d/%Y %I:%M:%S %p'))
    df['processing_time'] =  df['Closed Date'] - df['Created Date']
    
    #Finally, get rid of negative processing times and return the final data frame
    
    df = df[df['processing_time']>=datetime.timedelta(0,0,0)]
    
    return df

In [52]:
df = read_311_data('nyc_311_data_subset_small.csv')
df.info()

c:\users\ethan\appdata\local\programs\python\python37\lib\site-packages\IPython\core\interactiveshell.py:2901: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

<class 'pandas.core.frame.DataFrame'>
Int64Index: 799323 entries, 11 to 971063
Data columns (total 8 columns):
Created Date       799323 non-null datetime64[ns]
Closed Date        799323 non-null datetime64[ns]
Agency             799323 non-null object
Incident Zip       799323 non-null object
Borough            799323 non-null object
Latitude           799323 non-null float64
Longitude          799323 non-null float64
processing_time    799323 non-null timedelta64[ns]
dtypes: datetime64[ns](2), float64(2), object(3), timedelta64[ns](1)
memory usage: 54.9+ MB

<h1>Summary</h1>
<li>We read the data using read_csv
<li>Cleaned Incident Zip
<li>Converted Dates to datetime
<li>Created a new column containing processing times

<h3>The data is ready!</h3>