RSI = 100 - 100 / (1 + RS)

Where RS = Average gain of up periods during the specified time frame / Average loss of down periods during the specified time frame

If RSI > 70, sell signal
If RSI < 30, buy signal

### Import CSV

In [38]:
import pandas as pd
import datetime
import numpy as np

df = pd.read_csv('S&P 500 Futures Historical Data_20 years.csv')

# remove the calculated columns
df1 = df[['Date', 'Price', 'Open', 'High', 'Low']]

df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 5 columns):
Date     5000 non-null object
Price    5000 non-null float64
Open     5000 non-null float64
High     5000 non-null float64
Low      5000 non-null float64
dtypes: float64(4), object(1)
memory usage: 195.4+ KB

In [39]:
df1 = df1.reindex(index=df1.index[::-1])
df1 = df1.set_index('Date')

df1.head()

            Price     Open     High      Low
Date
9-Nov-98   1136.5  1146.50  1149.25  1127.50
10-Nov-98  1129.0  1136.25  1140.50  1128.00
11-Nov-98  1126.2  1130.25  1142.00  1121.25
12-Nov-98  1123.8  1126.00  1132.00  1118.25
13-Nov-98  1133.3  1123.50  1134.00  1121.00

In [41]:
# calculate difference of day prices
df1['Diff'] = np.diff(df1['Price'][:1])

df1.head()

### Plot the differences

In [42]:
import matplotlib.pyplot as plt
%matplotlib inline
df1['Diff'].plot(grid=True)
plt.show()

### Calculate RSI

In [45]:
def relative_strength(diffs, win=20):
    
    seed = diffs[:win+1]
    up = seed[seed>=0].sum()/win
    down = -seed[seed<0].sum()/win
    rs = up/down
    
    #initialize RSIs as same shape as array
    rsi = np.zeros_like(diffs)
    rsi[:win] = 100. - 100./(1.+rs)

    for i in range(win, len(diffs)):
        diff = diffs[i-1]
        
        # if tick goes up
        if diff>0:
            upval = diff
            downval = 0.
        
        # if tick goes down
        else:
            upval = 0.
            downval = -diff
            
        # sum of all upticks divided my window   
        up = (up*(win-1) + upval)/win
        
        # sum of all down ticks divided by window
        down = (down*(win-1) + downval)/win
        
        #relative strength
        rs = up/down
#         print(up, down, rs)
        
        rsi[i] = 100. - 100./(1.+rs)

    return rsi

In [46]:
df1['RSI'] = relative_strength(df1['Price'], 20)

c:\users\ethan\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:6: RuntimeWarning: divide by zero encountered in double_scalars

c:\users\ethan\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:32: RuntimeWarning: divide by zero encountered in double_scalars

In [47]:
df1

             Price     Open     High      Low    RSI
Date
9-Nov-98   1136.50  1146.50  1149.25  1127.50  100.0
10-Nov-98  1129.00  1136.25  1140.50  1128.00  100.0
11-Nov-98  1126.20  1130.25  1142.00  1121.25  100.0
12-Nov-98  1123.80  1126.00  1132.00  1118.25  100.0
13-Nov-98  1133.30  1123.50  1134.00  1121.00  100.0
16-Nov-98  1142.30  1134.75  1144.50  1129.75  100.0
17-Nov-98  1143.50  1142.00  1157.50  1132.50  100.0
18-Nov-98  1150.00  1143.50  1151.00  1136.00  100.0
19-Nov-98  1158.70  1149.50  1159.00  1147.25  100.0
20-Nov-98  1167.50  1157.75  1167.75  1156.50  100.0
23-Nov-98  1194.10  1167.50  1195.00  1167.50  100.0
24-Nov-98  1186.80  1193.75  1198.00  1184.25  100.0
25-Nov-98  1186.10  1187.50  1191.00  1182.00  100.0
27-Nov-98  1194.20  1186.25  1196.25  1185.50  100.0
30-Nov-98  1162.50  1195.25  1197.50  1162.00  100.0
1-Dec-98   1174.20  1162.75  1179.00  1151.25  100.0
2-Dec-98   1172.30  1174.75  1177.75  1158.50  100.0
3-Dec-98   1153.00  1172.00  1180.75  1149.50  100.0
4-Dec-98   1180.20  1152.00  1185.25  1150.50  100.0
7-Dec-98   1187.50  1180.75  1191.75  1177.25  100.0
8-Dec-98   1181.50  1187.25  1195.50  1173.25  100.0
9-Dec-98   1184.50  1182.00  1187.50  1176.50  100.0
10-Dec-98  1166.40  1185.00  1189.50  1163.75  100.0
11-Dec-98  1163.40  1165.50  1169.50  1154.00  100.0
14-Dec-98  1136.50  1161.00  1161.00  1135.50  100.0
15-Dec-98  1162.80  1137.50  1164.00  1137.00  100.0
16-Dec-98  1162.70  1163.25  1168.75  1138.00  100.0
17-Dec-98  1180.10  1165.25  1183.00  1140.00  100.0
18-Dec-98  1180.28  1181.50  1182.50  1177.00  100.0
21-Dec-98  1214.50  1195.50  1225.25  1191.50  100.0
...            ...      ...      ...      ...    ...
16-May-18  2723.00  2711.25  2728.00  2704.50  100.0
17-May-18  2718.75  2721.75  2732.00  2711.00  100.0
18-May-18  2713.00  2718.75  2727.00  2708.75  100.0
21-May-18  2733.00  2728.75  2739.25  2724.25  100.0
22-May-18  2726.00  2731.25  2741.75  2721.50  100.0
23-May-18  2730.75  2724.50  2733.00  2704.50  100.0
24-May-18  2727.50  2729.75  2733.25  2705.75  100.0
25-May-18  2718.25  2726.75  2737.75  2713.75  100.0
27-May-18  2729.50  2731.00  2731.00  2726.00  100.0
28-May-18  2722.00  2729.50  2731.75  2718.25  100.0
29-May-18  2692.25  2729.00  2731.75  2675.00  100.0
30-May-18  2724.50  2693.25  2729.25  2685.75  100.0
31-May-18  2705.50  2720.25  2728.25  2699.75  100.0
1-Jun-18   2733.75  2707.50  2737.00  2706.00  100.0
4-Jun-18   2745.50  2731.00  2749.25  2729.00  100.0
5-Jun-18   2751.50  2746.00  2753.25  2739.00  100.0
6-Jun-18   2772.25  2751.00  2774.75  2748.00  100.0
7-Jun-18   2772.25  2773.25  2779.75  2760.00  100.0
8-Jun-18   2778.75  2771.00  2779.75  2752.00  100.0
11-Jun-18  2783.00  2771.00  2790.50  2770.50  100.0
12-Jun-18  2784.00  2781.25  2789.75  2778.50  100.0
13-Jun-18  2774.25  2788.00  2791.75  2773.75  100.0
14-Jun-18  2783.25  2773.25  2789.25  2767.50  100.0
15-Jun-18  2776.85  2782.50  2784.00  2766.25  100.0
18-Jun-18  2779.75  2780.00  2786.75  2761.25  100.0
19-Jun-18  2766.25  2778.25  2780.25  2735.75  100.0
20-Jun-18  2772.00  2765.25  2778.25  2757.25  100.0
21-Jun-18  2752.50  2771.75  2785.25  2747.00  100.0
22-Jun-18  2759.50  2750.50  2768.50  2749.25  100.0
25-Jun-18  2722.25  2757.00  2758.00  2700.50  100.0

[5000 rows x 5 columns]

### Plot RSI

In [ ]:
df1['RSI'].plot(grid=True)
# add top and bottom bands to plot
plt.show()

### Send RSI signals

In [ ]:
# Sell if over high threshold / Buy if under low threshold
# thrsholds can be set by user input later
RSI_top = 70
RSI_bottom = 30

df1['RSI_Sell'] = np.where(df1['RSI']>RSI_top,1,0)
df1['RSI_Buy'] = np.where(df1['RSI']<RSI_bottom,1,0)

In [ ]:
df1[19:]