In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
grades = pd.read_csv('files/grade_distributions.csv')
courses = pd.read_csv('files/courses.csv')
course_offerings = pd.read_csv('files/course_offerings.csv')
subjects = pd.read_csv('files/subjects.csv')
subject_memberships = pd.read_csv('files/subject_memberships.csv')

In [13]:
print("GRADES", list(grades))
print("COURSES", list(courses))
print("COURSE OFFERINGS", list(course_offerings))
print("SUBJECTS", list(subjects))
print("MEMBERSHIPS", list(subject_memberships))

GRADES ['course_offering_uuid', 'section_number', 'a_count', 'ab_count', 'b_count', 'bc_count', 'c_count', 'd_count', 'f_count', 's_count', 'u_count', 'cr_count', 'n_count', 'p_count', 'i_count', 'nw_count', 'nr_count', 'other_count']
COURSES ['uuid', 'name', 'number']
COURSE OFFERINGS ['uuid', 'course_uuid', 'term_code', 'name']
SUBJECTS ['code', 'name', 'abbreviation']
MEMBERSHIPS ['subject_code', 'course_offering_uuid']

In [49]:
master = pd.merge(grades, course_offerings, how='left', left_on='course_offering_uuid', right_on='uuid')
master = pd.merge(master, courses, how='left', left_on='course_uuid', right_on='uuid')
master.count()

course_offering_uuid    193262
section_number          193262
a_count                 193262
ab_count                193262
b_count                 193262
bc_count                193262
c_count                 193262
d_count                 193262
f_count                 193262
s_count                 193262
u_count                 193262
cr_count                193262
n_count                 193262
p_count                 193262
i_count                 193262
nw_count                193262
nr_count                193262
other_count             193262
uuid_x                  193262
course_uuid             193262
term_code               193262
name_x                  191660
uuid_y                  193262
name_y                  193200
number                  193262
dtype: int64

In [51]:
master.head()

,course_offering_uuid,section_number,a_count,ab_count,b_count,bc_count,c_count,d_count,f_count,s_count,...,nw_count,nr_count,other_count,uuid_x,course_uuid,term_code,name_x,uuid_y,name_y,number
0,344b3ebe-da7e-314c-83ed-9425269695fd,1,105,0,0,0,0,0,0,0,...,0,0,0,344b3ebe-da7e-314c-83ed-9425269695fd,a3e3e1c3-543d-3bb5-ae65-5f2aec4ad1de,1092,Cooperative Education Prog,a3e3e1c3-543d-3bb5-ae65-5f2aec4ad1de,Cooperative Education Program,1
1,f718e6cd-33f0-3c14-a9a6-834d9c3610a8,1,158,0,0,0,0,0,0,0,...,0,0,0,f718e6cd-33f0-3c14-a9a6-834d9c3610a8,a3e3e1c3-543d-3bb5-ae65-5f2aec4ad1de,1082,Cooperative Education Prog,a3e3e1c3-543d-3bb5-ae65-5f2aec4ad1de,Cooperative Education Program,1
2,ea3b717c-d66b-30dc-8b37-964d9688295f,1,139,12,2,0,3,0,0,0,...,0,0,0,ea3b717c-d66b-30dc-8b37-964d9688295f,a3e3e1c3-543d-3bb5-ae65-5f2aec4ad1de,1172,Cooperative Education Prog,a3e3e1c3-543d-3bb5-ae65-5f2aec4ad1de,Cooperative Education Program,1
3,075da420-5f49-3dd0-93df-13e3c152e1b1,1,87,0,0,0,0,0,0,0,...,0,0,0,075da420-5f49-3dd0-93df-13e3c152e1b1,a3e3e1c3-543d-3bb5-ae65-5f2aec4ad1de,1114,Cooperative Education Prog,a3e3e1c3-543d-3bb5-ae65-5f2aec4ad1de,Cooperative Education Program,1
4,2b4e216d-a728-3713-8c7c-19afffc6b2fd,1,70,0,0,0,0,0,0,0,...,0,0,0,2b4e216d-a728-3713-8c7c-19afffc6b2fd,a3e3e1c3-543d-3bb5-ae65-5f2aec4ad1de,1104,Cooperative Education Prog,a3e3e1c3-543d-3bb5-ae65-5f2aec4ad1de,Cooperative Education Program,1

In [53]:
master = pd.merge(master, subject_memberships, how='left', left_on='course_offering_uuid', right_on='course_offering_uuid')

In [62]:
master['subject_code'] = master['subject_code'].apply(str)

In [63]:
master = pd.merge(master, subjects, how='left', left_on='subject_code', right_on='code')

In [67]:
master.to_csv('UWData.csv', encoding='utf-8', index=False)