In [18]:
import pandas as pd
import numpy as np
import statsmodels.formula.api as smf
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
grades = pd.read_csv('files/grade_distributions.csv')
courses = pd.read_csv('files/courses.csv')
course_offerings = pd.read_csv('files/course_offerings.csv')
subjects = pd.read_csv('files/subjects.csv')
subject_memberships = pd.read_csv('files/subject_memberships.csv')

In [3]:
print("GRADES", list(grades))
print("COURSES", list(courses))
print("COURSE OFFERINGS", list(course_offerings))
print("SUBJECTS", list(subjects))
print("MEMBERSHIPS", list(subject_memberships))

GRADES ['course_offering_uuid', 'section_number', 'a_count', 'ab_count', 'b_count', 'bc_count', 'c_count', 'd_count', 'f_count', 's_count', 'u_count', 'cr_count', 'n_count', 'p_count', 'i_count', 'nw_count', 'nr_count', 'other_count']
COURSES ['uuid', 'name', 'number']
COURSE OFFERINGS ['uuid', 'course_uuid', 'term_code', 'name']
SUBJECTS ['code', 'name', 'abbreviation']
MEMBERSHIPS ['subject_code', 'course_offering_uuid']

In [4]:
master = pd.merge(grades, course_offerings, how='left', left_on='course_offering_uuid', right_on='uuid')

course_offering_uuid    193262
section_number          193262
a_count                 193262
ab_count                193262
b_count                 193262
bc_count                193262
c_count                 193262
d_count                 193262
f_count                 193262
s_count                 193262
u_count                 193262
cr_count                193262
n_count                 193262
p_count                 193262
i_count                 193262
nw_count                193262
nr_count                193262
other_count             193262
uuid                    193262
course_uuid             193262
term_code               193262
name                    191660
dtype: int64

In [5]:
master = pd.merge(master, courses, how='left', left_on='course_uuid', right_on='uuid')

course_offering_uuid    193262
section_number          193262
a_count                 193262
ab_count                193262
b_count                 193262
bc_count                193262
c_count                 193262
d_count                 193262
f_count                 193262
s_count                 193262
u_count                 193262
cr_count                193262
n_count                 193262
p_count                 193262
i_count                 193262
nw_count                193262
nr_count                193262
other_count             193262
uuid_x                  193262
course_uuid             193262
term_code               193262
name_x                  191660
uuid_y                  193262
name_y                  193200
number                  193262
dtype: int64

In [6]:
master = pd.merge(master, subject_memberships, how='left', on='course_offering_uuid')

course_offering_uuid    211763
section_number          211763
a_count                 211763
ab_count                211763
b_count                 211763
bc_count                211763
c_count                 211763
d_count                 211763
f_count                 211763
s_count                 211763
u_count                 211763
cr_count                211763
n_count                 211763
p_count                 211763
i_count                 211763
nw_count                211763
nr_count                211763
other_count             211763
uuid_x                  211763
course_uuid             211763
term_code               211763
name_x                  207792
uuid_y                  211763
name_y                  211626
number                  211763
subject_code            211763
dtype: int64

In [7]:
master['subject_code'] = master['subject_code'].apply(str)

In [8]:
master = pd.merge(master, subjects, how='left', left_on='subject_code', right_on='code')

course_offering_uuid    211763
section_number          211763
a_count                 211763
ab_count                211763
b_count                 211763
bc_count                211763
c_count                 211763
d_count                 211763
f_count                 211763
s_count                 211763
u_count                 211763
cr_count                211763
n_count                 211763
p_count                 211763
i_count                 211763
nw_count                211763
nr_count                211763
other_count             211763
uuid_x                  211763
course_uuid             211763
term_code               211763
name_x                  207792
uuid_y                  211763
name_y                  211626
number                  211763
subject_code            211763
code                    211763
name                    211763
abbreviation            211763
dtype: int64

In [10]:
master.to_csv('UWData.csv', encoding='utf-8', index=False)

# Run sheet from here
### Using compiled sheet from file

In [4]:
grades = pd.read_csv('UWData.csv')
grades.head()

,course_offering_uuid,section_number,a_count,ab_count,b_count,bc_count,c_count,d_count,f_count,s_count,...,course_uuid,term_code,name_x,uuid_y,name_y,number,subject_code,code,name,abbreviation
0,344b3ebe-da7e-314c-83ed-9425269695fd,1,105,0,0,0,0,0,0,0,...,a3e3e1c3-543d-3bb5-ae65-5f2aec4ad1de,1092,Cooperative Education Prog,a3e3e1c3-543d-3bb5-ae65-5f2aec4ad1de,Cooperative Education Program,1,220,220,Chemical and Biological Engineering,CBE
1,344b3ebe-da7e-314c-83ed-9425269695fd,1,105,0,0,0,0,0,0,0,...,a3e3e1c3-543d-3bb5-ae65-5f2aec4ad1de,1092,Cooperative Education Prog,a3e3e1c3-543d-3bb5-ae65-5f2aec4ad1de,Cooperative Education Program,1,320,320,Electrical and Computer Engineering,E C E
2,344b3ebe-da7e-314c-83ed-9425269695fd,1,105,0,0,0,0,0,0,0,...,a3e3e1c3-543d-3bb5-ae65-5f2aec4ad1de,1092,Cooperative Education Prog,a3e3e1c3-543d-3bb5-ae65-5f2aec4ad1de,Cooperative Education Program,1,346,346,Engineering Mechanics and Astronautics,E M A
3,344b3ebe-da7e-314c-83ed-9425269695fd,1,105,0,0,0,0,0,0,0,...,a3e3e1c3-543d-3bb5-ae65-5f2aec4ad1de,1092,Cooperative Education Prog,a3e3e1c3-543d-3bb5-ae65-5f2aec4ad1de,Cooperative Education Program,1,612,612,Mechanical Engineering,M E
4,344b3ebe-da7e-314c-83ed-9425269695fd,1,105,0,0,0,0,0,0,0,...,a3e3e1c3-543d-3bb5-ae65-5f2aec4ad1de,1092,Cooperative Education Prog,a3e3e1c3-543d-3bb5-ae65-5f2aec4ad1de,Cooperative Education Program,1,636,636,Materials Science and Engineering,M S & E

In [5]:
list(grades)

['course_offering_uuid',
 'section_number',
 'a_count',
 'ab_count',
 'b_count',
 'bc_count',
 'c_count',
 'd_count',
 'f_count',
 's_count',
 'u_count',
 'cr_count',
 'n_count',
 'p_count',
 'i_count',
 'nw_count',
 'nr_count',
 'other_count',
 'uuid_x',
 'course_uuid',
 'term_code',
 'name_x',
 'uuid_y',
 'name_y',
 'number',
 'subject_code',
 'code',
 'name',
 'abbreviation']

In [6]:
# find total number of enrolled students per class
grades['enrolled'] = grades['a_count'] + grades['ab_count'] + grades['b_count'] + grades['bc_count'] + grades['c_count'] + grades['d_count'] + grades['f_count'] + grades['s_count'] + grades['u_count'] + grades['cr_count'] + grades['n_count'] + grades['p_count'] + grades['i_count'] + grades['nw_count'] + grades['nr_count'] + grades['other_count']

In [10]:
# find total number of students taking class for grade (A-f)
grades['graded'] = grades['a_count'] + grades['ab_count'] + grades['b_count'] + grades['bc_count'] + grades['c_count'] + grades['d_count'] + grades['f_count']

In [11]:
# find total credits awarded per class
grades['grade_total'] = grades['a_count']*4 + grades['ab_count']*3.5 + grades['b_count']*3 + grades['bc_count']*2.5 + grades['c_count']*2 + grades['d_count']*1 + grades['f_count']*0

In [12]:
# find average of clas of graded students
grades['average'] = grades['grade_total']/grades['graded']

In [15]:
grades = grades[pd.notna(grades['average'])]

In [21]:
list(grades)

['course_offering_uuid',
 'section_number',
 'a_count',
 'ab_count',
 'b_count',
 'bc_count',
 'c_count',
 'd_count',
 'f_count',
 's_count',
 'u_count',
 'cr_count',
 'n_count',
 'p_count',
 'i_count',
 'nw_count',
 'nr_count',
 'other_count',
 'uuid_x',
 'course_uuid',
 'term_code',
 'name_x',
 'uuid_y',
 'name_y',
 'number',
 'subject_code',
 'code',
 'name',
 'abbreviation',
 'enrolled',
 'graded',
 'grade_total',
 'average']

In [20]:
print(smf.ols('average ~ name', data=grades).fit().summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                average   R-squared:                       0.254
Model:                            OLS   Adj. R-squared:                  0.253
Method:                 Least Squares   F-statistic:                     183.2
Date:                Sun, 03 Mar 2019   Prob (F-statistic):               0.00
Time:                        18:49:08   Log-Likelihood:                -29594.
No. Observations:              102327   AIC:                         5.957e+04
Df Residuals:                  102136   BIC:                         6.139e+04
Df Model:                         190
Covariance Type:            nonrobust
============================================================================================================================
                                                               coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------------------------------------------
Intercept                                                    3.4745      0.047     74.429      0.000       3.383       3.566
name[T.Accounting and Information Systems]                  -0.2299      0.048     -4.835      0.000      -0.323      -0.137
name[T.Actuarial Science]                                    0.0093      0.052      0.179      0.858      -0.092       0.111
name[T.African Languages and Literature]                     0.0770      0.049      1.575      0.115      -0.019       0.173
name[T.Afro-American Studies]                                0.0016      0.049      0.032      0.974      -0.094       0.098
name[T.Agricultural and Applied Economics]                  -0.0894      0.049     -1.821      0.069      -0.186       0.007
name[T.Agroecology]                                          0.4845      0.070      6.899      0.000       0.347       0.622
name[T.Agronomy]                                             0.0779      0.051      1.527      0.127      -0.022       0.178
name[T.Air Force Aerospace Studies]                          0.3430      0.057      6.049      0.000       0.232       0.454
name[T.American Indian Studies]                              0.0368      0.052      0.705      0.481      -0.066       0.139
name[T.Anatomy]                                              0.2059      0.053      3.899      0.000       0.102       0.309
name[T.Anesthesiology]                                       0.1981      0.052      3.805      0.000       0.096       0.300
name[T.Animal Sciences]                                      0.0269      0.049      0.548      0.584      -0.069       0.123
name[T.Anthropology]                                        -0.0567      0.048     -1.178      0.239      -0.151       0.038
name[T.Art Department]                                       0.2539      0.047      5.384      0.000       0.161       0.346
name[T.Art Education (Department of Art)]                    0.4716      0.056      8.429      0.000       0.362       0.581
name[T.Art History]                                          0.0283      0.049      0.579      0.562      -0.067       0.124
name[T.Asian American Studies]                               0.0138      0.052      0.269      0.788      -0.087       0.115
name[T.Astronomy]                                           -0.1338      0.051     -2.644      0.008      -0.233      -0.035
name[T.Atmospheric and Oceanic Sciences]                    -0.0497      0.049     -1.006      0.315      -0.146       0.047
name[T.Biochemistry]                                         0.2190      0.049      4.510      0.000       0.124       0.314
name[T.Biological Systems Engineering]                      -0.2467      0.051     -4.845      0.000      -0.346      -0.147
name[T.Biology]                                             -0.0938      0.048     -1.953      0.051      -0.188       0.000
name[T.Biology Core Curriculum]                              0.0036      0.052      0.070      0.944      -0.098       0.105
name[T.Biomedical Engineering]                               0.1675      0.049      3.421      0.001       0.072       0.263
name[T.Biomolecular Chemistry]                               0.3111      0.055      5.653      0.000       0.203       0.419
name[T.Biostatistics and Medical Informatics]                0.2466      0.053      4.646      0.000       0.143       0.351
name[T.Botany]                                              -0.1040      0.049     -2.142      0.032      -0.199      -0.009
name[T.CLINICAL LABORATORY SCIENCE]                          0.0830      0.055      1.503      0.133      -0.025       0.191
name[T.Cell and Regenerative Biology]                        0.3107      0.068      4.575      0.000       0.178       0.444
name[T.Chemical and Biological Engineering]                 -0.0647      0.048     -1.338      0.181      -0.159       0.030
name[T.Chemistry]                                           -0.1890      0.047     -3.999      0.000      -0.282      -0.096
name[T.Chicana/o and Latina/o Studies]                       0.0524      0.054      0.977      0.329      -0.053       0.158
name[T.Civil Society and Community Studies]                  0.3114      0.059      5.285      0.000       0.196       0.427
name[T.Civil and Environmental Engineering]                  0.0920      0.048      1.928      0.054      -0.002       0.186
name[T.Classics]                                             0.0120      0.053      0.228      0.819      -0.091       0.115
name[T.Collaborative Nursing Program]                        0.1729      0.053      3.292      0.001       0.070       0.276
name[T.Communication Arts]                                  -0.0849      0.047     -1.799      0.072      -0.177       0.008
name[T.Communication Sciences and Disorders]                 0.3521      0.048      7.348      0.000       0.258       0.446
name[T.Community and Environmental Sociology]                0.0294      0.048      0.610      0.542      -0.065       0.124
name[T.Comparative Biosciences]                             -0.1227      0.055     -2.220      0.026      -0.231      -0.014
name[T.Comparative Literature]                               0.1540      0.052      2.962      0.003       0.052       0.256
name[T.Computer Sciences]                                   -0.1098      0.047     -2.312      0.021      -0.203      -0.017
name[T.Consumer Science]                                     0.1403      0.048      2.902      0.004       0.046       0.235
name[T.Counseling Psychology]                                0.3808      0.048      7.994      0.000       0.287       0.474
name[T.Curriculum and Instruction]                           0.4479      0.047      9.483      0.000       0.355       0.540
name[T.Dairy Science]                                        0.1176      0.050      2.345      0.019       0.019       0.216
name[T.Dance]                                                0.3083      0.048      6.438      0.000       0.214       0.402
name[T.Design Studies]                                       0.1571      0.048      3.263      0.001       0.063       0.251
name[T.ENGLISH]                                              0.1348      0.047      2.860      0.004       0.042       0.227
name[T.East Asian Area Studies]                              0.0834      0.058      1.432      0.152      -0.031       0.198
name[T.East Asian Languages and Literature]                  0.1527      0.048      3.177      0.001       0.059       0.247
name[T.Economics]                                           -0.1576      0.047     -3.318      0.001      -0.251      -0.064
name[T.Educational Leadership and Policy Analysis]           0.4205      0.048      8.704      0.000       0.326       0.515
name[T.Educational Policy Studies]                           0.2728      0.049      5.548      0.000       0.176       0.369
name[T.Educational Psychology]                               0.3728      0.048      7.759      0.000       0.279       0.467
name[T.Electrical and Computer Engineering]                  0.0308      0.047      0.652      0.514      -0.062       0.124
name[T.Emergency Medicine]                                   0.3225      0.140      2.303      0.021       0.048       0.597
name[T.Engineering Mechanics and Astronautics]              -0.2121      0.048     -4.393      0.000      -0.307      -0.117
name[T.Engineering Physics]                                  0.1109      0.062      1.802      0.072      -0.010       0.232
name[T.Engineering Professional Development]                 0.1089      0.048      2.282      0.022       0.015       0.202
name[T.English]                                              0.2549      0.048      5.326      0.000       0.161       0.349
name[T.English as a Second Language]                         0.0279      0.055      0.510      0.610      -0.079       0.135
name[T.Entomology]                                           0.1378      0.051      2.696      0.007       0.038       0.238
name[T.Environmental Studies - Gaylord Nelson Institute]     0.0509      0.048      1.069      0.285      -0.042       0.144
name[T.FAMILY AND CONSUMER COMMUNICATIONS]                   0.2018      0.056      3.621      0.000       0.093       0.311
name[T.Family Medicine]                                      0.4905      0.091      5.374      0.000       0.312       0.669
name[T.Farm & Industry Short Course]                        -0.2443      0.108     -2.260      0.024      -0.456      -0.032
name[T.Finance, Investment and Banking]                      0.0125      0.048      0.258      0.796      -0.082       0.107
name[T.Folklore Program]                                     0.0707      0.051      1.391      0.164      -0.029       0.170
name[T.Food Science]                                        -0.0782      0.050     -1.571      0.116      -0.176       0.019
name[T.Forest and Wildlife Ecology]                          0.0003      0.049      0.006      0.995      -0.095       0.096
name[T.French (French and Italian)]                          0.0443      0.047      0.933      0.351      -0.049       0.137
name[T.Gender and Women’s Studies]                           0.0739      0.049      1.523      0.128      -0.021       0.169
name[T.General Business]                                     0.1760      0.048      3.681      0.000       0.082       0.270
name[T.Genetics]                                             0.1463      0.049      2.987      0.003       0.050       0.242
name[T.Geography]                                           -0.0787      0.048     -1.635      0.102      -0.173       0.016
name[T.Geological Engineering]                              -0.1062      0.052     -2.062      0.039      -0.207      -0.005
name[T.Geoscience]                                          -0.0837      0.048     -1.730      0.084      -0.179       0.011
name[T.German]                                               0.1568      0.048      3.279      0.001       0.063       0.251
name[T.Greek (Classics)]                                     0.1673      0.058      2.888      0.004       0.054       0.281
name[T.HEBREW]                                               0.1323      0.051      2.593      0.010       0.032       0.232
name[T.Hebrew-Modern]                                        0.3750      0.098      3.818      0.000       0.182       0.568
name[T.History]                                              0.0212      0.047      0.449      0.653      -0.071       0.114
name[T.History of Science]                                   0.0377      0.050      0.755      0.450      -0.060       0.135
name[T.Horticulture]                                        -0.0364      0.050     -0.730      0.465      -0.134       0.061
name[T.Human Development and Family Studies]                 0.2499      0.048      5.161      0.000       0.155       0.345
name[T.Human Oncology]                                       0.2222      0.089      2.485      0.013       0.047       0.397
name[T.INDUSTRIAL RELATIONS]                                 0.1853      0.192      0.962      0.336      -0.192       0.562
name[T.Industrial and Systems Engineering]                   0.1488      0.048      3.089      0.002       0.054       0.243
name[T.Information Systems]                                  0.2587      0.058      4.448      0.000       0.145       0.373
name[T.Integrated Arts]                                      0.4065      0.327      1.244      0.214      -0.234       1.047
name[T.Integrated Liberal Studies]                           0.1765      0.049      3.583      0.000       0.080       0.273
name[T.Integrated Science]                                   0.3735      0.117      3.179      0.001       0.143       0.604
name[T.Interdisciplinary Courses (CALS)]                     0.4104      0.050      8.182      0.000       0.312       0.509
name[T.Interdisciplinary Courses (Engineering)]              0.2406      0.054      4.422      0.000       0.134       0.347
name[T.Interdisciplinary Courses (L&S)]                      0.3623      0.050      7.313      0.000       0.265       0.459
name[T.Interdisciplinary Courses (SOHE)]                     0.2559      0.050      5.156      0.000       0.159       0.353
name[T.International Business]                               0.1452      0.051      2.849      0.004       0.045       0.245
name[T.International Studies]                                0.0685      0.053      1.297      0.195      -0.035       0.172
name[T.Italian (French and Italian)]                         0.0901      0.048      1.866      0.062      -0.005       0.185
name[T.Jewish Studies]                                       0.0714      0.051      1.414      0.157      -0.028       0.170
name[T.Journalism and Mass Communication]                    0.1952      0.048      4.063      0.000       0.101       0.289
name[T.Kinesiology]                                          0.2695      0.048      5.620      0.000       0.176       0.363
name[T.La Follette School of Public Affairs]                 0.2177      0.050      4.381      0.000       0.120       0.315
name[T.Landscape Architecture]                              -0.0302      0.049     -0.614      0.539      -0.127       0.066
name[T.Languages and Cultures of Asia]                       0.0568      0.050      1.141      0.254      -0.041       0.154
name[T.Languages and Cultures of Asia - Languages]           0.2244      0.049      4.574      0.000       0.128       0.321
name[T.Latin (Classics)]                                     0.0018      0.052      0.034      0.973      -0.100       0.103
name[T.Latin American, Caribbean, and Iberian Studies]       0.1641      0.069      2.370      0.018       0.028       0.300
name[T.Law]                                                 -0.2258      0.047     -4.780      0.000      -0.318      -0.133
name[T.Legal Studies]                                       -0.2183      0.052     -4.192      0.000      -0.320      -0.116
name[T.Library and Information Studies]                      0.3500      0.048      7.289      0.000       0.256       0.444
name[T.Life Sciences Communication]                          0.2248      0.048      4.648      0.000       0.130       0.320
name[T.Linguistics]                                          0.0472      0.052      0.912      0.362      -0.054       0.149
name[T.Literature in Translation]                           -0.0055      0.049     -0.113      0.910      -0.101       0.090
name[T.Management and Human Resources]                       0.1351      0.048      2.810      0.005       0.041       0.229
name[T.Marketing]                                            0.0604      0.048      1.255      0.210      -0.034       0.155
name[T.Materials Science and Engineering]                    0.1031      0.049      2.099      0.036       0.007       0.199
name[T.Mathematics]                                         -0.3816      0.047     -8.102      0.000      -0.474      -0.289
name[T.Mechanical Engineering]                              -0.1128      0.047     -2.384      0.017      -0.206      -0.020
name[T.Medical Genetics]                                     0.2626      0.054      4.889      0.000       0.157       0.368
name[T.Medical History and Bioethics]                        0.0386      0.051      0.751      0.453      -0.062       0.139
name[T.Medical Microbiology and Immunology]                  0.1874      0.051      3.702      0.000       0.088       0.287
name[T.Medical Physics]                                      0.2293      0.051      4.493      0.000       0.129       0.329
name[T.Medical Sciences - Medical School]                    0.0801      0.054      1.481      0.138      -0.026       0.186
name[T.Medical Sciences - Veterinary Medicine]               0.4263      0.050      8.592      0.000       0.329       0.524
name[T.Medicine]                                             0.2582      0.051      5.066      0.000       0.158       0.358
name[T.Medieval Studies]                                     0.1099      0.051      2.137      0.033       0.009       0.211
name[T.Microbiology]                                         0.0540      0.048      1.119      0.263      -0.041       0.149
name[T.Military Science]                                     0.4344      0.051      8.595      0.000       0.335       0.533
name[T.Molecular Biology]                                    0.5255      0.168      3.122      0.002       0.196       0.855
name[T.Molecular and Environmental Toxicology Center]        0.0344      0.059      0.583      0.560      -0.081       0.150
name[T.Music]                                                0.2972      0.047      6.282      0.000       0.205       0.390
name[T.Music-Performance]                                    0.3418      0.049      6.977      0.000       0.246       0.438
name[T.Naval Science]                                        0.3503      0.053      6.644      0.000       0.247       0.454
name[T.Neurological Surgery]                                 0.4958      0.086      5.760      0.000       0.327       0.664
name[T.Neurology]                                            0.1579      0.062      2.539      0.011       0.036       0.280
name[T.Neuroscience]                                         0.4781      0.083      5.741      0.000       0.315       0.641
name[T.Neuroscience Training Program]                        0.2671      0.051      5.221      0.000       0.167       0.367
name[T.Nuclear Engineering]                                 -0.0370      0.050     -0.739      0.460      -0.135       0.061
name[T.Nursing]                                              0.3657      0.048      7.591      0.000       0.271       0.460
name[T.Nutritional Sciences]                                -0.0160      0.050     -0.322      0.748      -0.113       0.081
name[T.Obstetrics and Gynecology]                            0.1877      0.054      3.450      0.001       0.081       0.294
name[T.Occupational Therapy (Department of Kinesiology)]     0.3623      0.053      6.880      0.000       0.259       0.466
name[T.Oncology]                                             0.1826      0.057      3.215      0.001       0.071       0.294
name[T.Operations and Technology Management]                 0.0413      0.049      0.841      0.401      -0.055       0.138
name[T.Ophthalmology and Visual Sciences]                    0.5255      0.108      4.861      0.000       0.314       0.737
name[T.PHYSICAL EDUC ACTIVITY PROGM]                         0.1824      0.048      3.804      0.000       0.088       0.276
name[T.PROFESSIONAL ORIENTATION]                             0.3066      0.108      2.836      0.005       0.095       0.519

In [ ]:
print(smf.ols('average ~ name_y', data=grades).fit().summary())

c:\users\ethan\appdata\local\programs\python\python37\lib\site-packages\statsmodels\tools\tools.py:349: RuntimeWarning: overflow encountered in double_scalars
  s[i] = 1./s[i]
c:\users\ethan\appdata\local\programs\python\python37\lib\site-packages\statsmodels\tools\tools.py:353: RuntimeWarning: invalid value encountered in multiply
  np.transpose(u)))