In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
grades = pd.read_csv('files/grade_distributions.csv')
courses = pd.read_csv('files/courses.csv')
course_offerings = pd.read_csv('files/course_offerings.csv')
subjects = pd.read_csv('files/subjects.csv')
subject_memberships = pd.read_csv('files/subject_memberships.csv')

In [3]:
print("GRADES", list(grades))
print("COURSES", list(courses))
print("COURSE OFFERINGS", list(course_offerings))
print("SUBJECTS", list(subjects))
print("MEMBERSHIPS", list(subject_memberships))

GRADES ['course_offering_uuid', 'section_number', 'a_count', 'ab_count', 'b_count', 'bc_count', 'c_count', 'd_count', 'f_count', 's_count', 'u_count', 'cr_count', 'n_count', 'p_count', 'i_count', 'nw_count', 'nr_count', 'other_count']
COURSES ['uuid', 'name', 'number']
COURSE OFFERINGS ['uuid', 'course_uuid', 'term_code', 'name']
SUBJECTS ['code', 'name', 'abbreviation']
MEMBERSHIPS ['subject_code', 'course_offering_uuid']

In [4]:
master = pd.merge(grades, course_offerings, how='left', left_on='course_offering_uuid', right_on='uuid')

course_offering_uuid    193262
section_number          193262
a_count                 193262
ab_count                193262
b_count                 193262
bc_count                193262
c_count                 193262
d_count                 193262
f_count                 193262
s_count                 193262
u_count                 193262
cr_count                193262
n_count                 193262
p_count                 193262
i_count                 193262
nw_count                193262
nr_count                193262
other_count             193262
uuid                    193262
course_uuid             193262
term_code               193262
name                    191660
dtype: int64

In [5]:
master = pd.merge(master, courses, how='left', left_on='course_uuid', right_on='uuid')

course_offering_uuid    193262
section_number          193262
a_count                 193262
ab_count                193262
b_count                 193262
bc_count                193262
c_count                 193262
d_count                 193262
f_count                 193262
s_count                 193262
u_count                 193262
cr_count                193262
n_count                 193262
p_count                 193262
i_count                 193262
nw_count                193262
nr_count                193262
other_count             193262
uuid_x                  193262
course_uuid             193262
term_code               193262
name_x                  191660
uuid_y                  193262
name_y                  193200
number                  193262
dtype: int64

In [6]:
master = pd.merge(master, subject_memberships, how='left', on='course_offering_uuid')

course_offering_uuid    211763
section_number          211763
a_count                 211763
ab_count                211763
b_count                 211763
bc_count                211763
c_count                 211763
d_count                 211763
f_count                 211763
s_count                 211763
u_count                 211763
cr_count                211763
n_count                 211763
p_count                 211763
i_count                 211763
nw_count                211763
nr_count                211763
other_count             211763
uuid_x                  211763
course_uuid             211763
term_code               211763
name_x                  207792
uuid_y                  211763
name_y                  211626
number                  211763
subject_code            211763
dtype: int64

In [7]:
master['subject_code'] = master['subject_code'].apply(str)

In [8]:
master = pd.merge(master, subjects, how='left', left_on='subject_code', right_on='code')

course_offering_uuid    211763
section_number          211763
a_count                 211763
ab_count                211763
b_count                 211763
bc_count                211763
c_count                 211763
d_count                 211763
f_count                 211763
s_count                 211763
u_count                 211763
cr_count                211763
n_count                 211763
p_count                 211763
i_count                 211763
nw_count                211763
nr_count                211763
other_count             211763
uuid_x                  211763
course_uuid             211763
term_code               211763
name_x                  207792
uuid_y                  211763
name_y                  211626
number                  211763
subject_code            211763
code                    211763
name                    211763
abbreviation            211763
dtype: int64

In [10]:
master.to_csv('UWData.csv', encoding='utf-8', index=False)

### Using compiled sheet from file

In [4]:
grades = pd.read_csv('UWData.csv')
grades.head()

,course_offering_uuid,section_number,a_count,ab_count,b_count,bc_count,c_count,d_count,f_count,s_count,...,course_uuid,term_code,name_x,uuid_y,name_y,number,subject_code,code,name,abbreviation
0,344b3ebe-da7e-314c-83ed-9425269695fd,1,105,0,0,0,0,0,0,0,...,a3e3e1c3-543d-3bb5-ae65-5f2aec4ad1de,1092,Cooperative Education Prog,a3e3e1c3-543d-3bb5-ae65-5f2aec4ad1de,Cooperative Education Program,1,220,220,Chemical and Biological Engineering,CBE
1,344b3ebe-da7e-314c-83ed-9425269695fd,1,105,0,0,0,0,0,0,0,...,a3e3e1c3-543d-3bb5-ae65-5f2aec4ad1de,1092,Cooperative Education Prog,a3e3e1c3-543d-3bb5-ae65-5f2aec4ad1de,Cooperative Education Program,1,320,320,Electrical and Computer Engineering,E C E
2,344b3ebe-da7e-314c-83ed-9425269695fd,1,105,0,0,0,0,0,0,0,...,a3e3e1c3-543d-3bb5-ae65-5f2aec4ad1de,1092,Cooperative Education Prog,a3e3e1c3-543d-3bb5-ae65-5f2aec4ad1de,Cooperative Education Program,1,346,346,Engineering Mechanics and Astronautics,E M A
3,344b3ebe-da7e-314c-83ed-9425269695fd,1,105,0,0,0,0,0,0,0,...,a3e3e1c3-543d-3bb5-ae65-5f2aec4ad1de,1092,Cooperative Education Prog,a3e3e1c3-543d-3bb5-ae65-5f2aec4ad1de,Cooperative Education Program,1,612,612,Mechanical Engineering,M E
4,344b3ebe-da7e-314c-83ed-9425269695fd,1,105,0,0,0,0,0,0,0,...,a3e3e1c3-543d-3bb5-ae65-5f2aec4ad1de,1092,Cooperative Education Prog,a3e3e1c3-543d-3bb5-ae65-5f2aec4ad1de,Cooperative Education Program,1,636,636,Materials Science and Engineering,M S & E

In [5]:
list(grades)

['course_offering_uuid',
 'section_number',
 'a_count',
 'ab_count',
 'b_count',
 'bc_count',
 'c_count',
 'd_count',
 'f_count',
 's_count',
 'u_count',
 'cr_count',
 'n_count',
 'p_count',
 'i_count',
 'nw_count',
 'nr_count',
 'other_count',
 'uuid_x',
 'course_uuid',
 'term_code',
 'name_x',
 'uuid_y',
 'name_y',
 'number',
 'subject_code',
 'code',
 'name',
 'abbreviation']

In [6]:
# find total number of enrolled students per class
grades['enrolled'] = grades['a_count'] + grades['ab_count'] + grades['b_count'] + grades['bc_count'] + grades['c_count'] + grades['d_count'] + grades['f_count'] + grades['s_count'] + grades['u_count'] + grades['cr_count'] + grades['n_count'] + grades['p_count'] + grades['i_count'] + grades['nw_count'] + grades['nr_count'] + grades['other_count']

In [10]:
# find total number of students taking class for grade (A-f)
grades['graded'] = grades['a_count'] + grades['ab_count'] + grades['b_count'] + grades['bc_count'] + grades['c_count'] + grades['d_count'] + grades['f_count']

In [11]:
# find average grade per class (of graded students)
grades['grade_total'] = grades['a_count']*4 + grades['ab_count']*3.5 + grades['b_count']*3 + grades['bc_count']*2.5 + grades['c_count']*2 + grades['d_count']*1 + grades['f_count']*0